#
# Logging definitions
#
# To modify this file, make a copy in /etc/cli.modules.d/
#
:admin:
  :logging:
    :component:
      -
        :name: qpidd
        :friendly_name: QPID broker
        :file: /etc/qpid/qpidd.conf
        :destinations: "syslog"
        :debug:
          -
            :action: ensure_line_is_present
            :line: ["log-enable", "=", "info+"]
            :join_with: ''
        :production:
          -
            :action: ensure_line_is_present
            :line: ["log-enable", "=", "error+"]
            :join_with: ''
      -
        :name: tomcat
        :friendly_name: Candlepin
        :file: /etc/candlepin/candlepin.conf
        :destinations: "/var/log/candlepin/ /var/log/tomcat/"
        :services: ["tomcat6", "tomcat"]
        :debug:
          -
            :action: ensure_line_is_present
            :line: ["log4j.logger.org.candlepin", "=", "DEBUG"]
        :production:
          -
            :action: ensure_line_is_present
            :line: ["log4j.logger.org.candlepin", "=", "WARN"]
      -
        :name: pulp
        :friendly_name: Pulp
        :file: /etc/pulp/server.conf
        :destinations: "syslog /var/log/pulp-debug.log"
        :services: ["pulp_workers", "pulp_celerybeat", "pulp_resource_manager"]
        :debug:
          -
            :action: create_file
            :file: "/etc/rsyslog.d/pulp-debug.conf"
            :contents: ':programname, startswith, "pulp" -/var/log/pulp-debug.log'
          -
            :action: ensure_line_is_present
            :line: ["log_level", ": ", "DEBUG"]
            :join_with: ''
        :production:
          -
            :action: remove_file
            :file: "/etc/rsyslog.d/pulp-debug.conf"
          -
            :action: ensure_line_is_present
            :line: ["log_level", ": ", "INFO"]
            :join_with: ''
      -
        :name: pulpcore
        :friendly_name: Pulpcore
        :file: /etc/pulp/settings.py
        :destinations: "syslog"
        :services: ["pulpcore-content", "pulpcore-api", "pulpcore-workers@*"]
        :debug:
          -
            :action: ensure_line_is_present
            :line: ["            'level'", ": ", "'DEBUG',"]
            :join_with: ''
        :production:
          -
            :action: ensure_line_is_present
            :line: ["            'level'", ": ", "'INFO',"]
            :join_with: ''
      -
        :name: virt-who
        :friendly_name: Virt-who utility
        :file: /etc/sysconfig/virt-who
        :destinations: "syslog"
        :debug:
          -
            :action: ensure_line_is_present
            :line: ["VIRTWHO_DEBUG", "=", "1"]
            :join_with: ''
        :production:
          -
            :action: ensure_line_is_present
            :line: ["VIRTWHO_DEBUG", "=", "0"]
            :join_with: ''
