#
# Logging definitions
#
# To modify this file, make a copy in /etc/cli.modules.d/
#
:admin:
  :logging:
    :component:
      -
        :name: postgresql
        :friendly_name: PostgreSQL
        :file: /var/lib/pgsql/data/postgresql.conf
        :destinations: "syslog /var/lib/pgsql/data/pg_log/"
        :debug:
          -
            :action: ensure_line_is_present
            :line: ["client_min_messages", "=", "debug2"]
          -
            :action: ensure_line_is_present
            :line: ["log_min_messages", "=", "debug2"]
          -
            :action: ensure_line_is_present
            :line: ["log_min_error_statement", "=", "debug2"]
        :production:
          -
            :action: ensure_line_is_present
            :line: ["client_min_messages", "=", "notice"]
          -
            :action: ensure_line_is_present
            :line: ["log_min_messages", "=", "warning"]
          -
            :action: ensure_line_is_present
            :line: ["log_min_error_statement", "=", "error"]
      -
        :name: rails
        :friendly_name: Rails WebUI
        :file: /etc/foreman/settings.yaml
        :destinations: "/var/log/foreman/production.log"
        :services: ["apache2", "httpd"]
        :debug:
          -
            :action: run_command_on_file
            :command: "sed -i 's/:level:.*/:level: debug/'"
        :production:
          -
            :action: run_command_on_file
            :command: "sed -i 's/:level:.*/:level: info/'"
      -
        :name: proxy
        :friendly_name: Foreman Proxy
        :file: /etc/foreman-proxy/settings.yml
        :destinations: "/var/log/foreman-proxy/proxy.log"
        :services: ["foreman-proxy"]
        :debug:
          -
            :action: ensure_line_is_present
            :line: [":log_level", ": ", "DEBUG"]
            :join_with: ''
        :production:
          -
            :action: ensure_line_is_present
            :line: [":log_level", ": ", "ERROR"]
            :join_with: ''
      -
        :name: puppet
        :friendly_name: Puppet Master 2.x+
        :file: /etc/puppet/puppet.conf
        :destinations: "/var/log/puppet/masterhttp.log"
        :services: ["apache2", "httpd"]
        :debug:
          -
            :action: ensure_line_is_present
            :line: ["log_level", "=", "debug"]
        :production:
          -
            :action: ensure_line_is_present
            :line: ["log_level", "=", "notice"]
      -
        :name: puppet5
        :friendly_name: Puppet Master 5.x+
        :file: /etc/puppetlabs/puppetserver/logback.xml
        :destinations: "/var/log/puppetlabs/puppetserver/puppetserver.log"
        :services: ["puppetserver"]
        :debug:
          -
            :action: ensure_line_is_present
            :line: ['<root level', '=', '"debug">']
        :production:
          -
            :action: ensure_line_is_present
            :line: ['<root level', '=', '"info">']
      -
        :name: dhcpd
        :friendly_name: ISC DHCP
        :file: /etc/dhcp/dhcpd.conf
        :destinations: "syslog /var/log/dhcpd-debug.log"
        :services: ["apache2", "httpd"]
        :debug:
          -
            :action: create_file
            :file: "/etc/rsyslog.d/dhcpd-debug.conf"
            :contents: 'local6.* /var/log/dhcpd-debug.log'
          -
            :action: ensure_line_is_present
            :line: ["log-facility", " ", "local6;"]
            :join_with: ''
        :production:
          -
            :action: remove_file
            :file: "/etc/rsyslog.d/dhcpd-debug.conf"
          -
            :action: ensure_line_is_present
            :line: ["log-facility", " ", "local6;"]
      -
        :name: named
        :friendly_name: ISC DNS
        :file: /etc/named.conf
        :destinations: "syslog"
        :debug:
          -
            :action: run_command
            :command: "rndc querylog on"
        :production:
          -
            :action: run_command
            :command: "rndc querylog off"
      -
        :name: tftp
        :friendly_name: ISC TFTP
        :file: /etc/xinetd.d/tftp
        :destinations: "syslog"
        :services: ["xinetd"]
        :debug:
          -
            :action: ensure_line_is_present
            :line: ["server_args", "=", "-vvvv -s /var/lib/tftpboot -m /etc/tftpd.map"]
        :production:
          -
            :action: ensure_line_is_present
            :line: ["server_args", "=", "-v -s /var/lib/tftpboot -m /etc/tftpd.map"]
